@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.calculator-container {
  border: 2px solid #a4cac9;
  background-color: #b7bfbe;
  border-radius: 10px;
  height: 600px;
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  height: 100px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 10px 0 10px;
}

button {
  height: 84px;
  width: 84px;
  margin-bottom: 5px;
  background-color: mintcream;
  border-radius: 30px;
  border: 2px solid black;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.delete {
  width: 130px;
}

.clear {
  width: 130px;
}

.zero {
  width: 175px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 5px;
  text-align: center;
}

button:hover {
  background-color: #ffd3d5;
}
